Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Update 2022-01-16-wordle-to-yaml.md
  code/_posts/2022-01-16-wordle-to-yaml.md
Due: prettier --write

🟩 Wordle to yaml (#182)
  code/_posts/2022-01-16-wordle-to-yaml.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

katydecorah/images-to-s3-action@v3.0.0
  .github/workflows/images-to-s3.yml
Due: prettier --write

Update 2020-10-14-read.md
  code/_posts/2020-10-14-read.md
Due: prettier --write

Update 2021-06-12-improve-documentation-with-failed-searches.md
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
Due: prettier --write

Update season.yml
  .github/workflows/season.yml
Due: prettier --write

Doughnut holes
  epicurean/_posts/2022-01-23-doughtnut-holes.md
  img/staging/2022-01-23-doughtnut-holes-2.jpg
  img/staging/2022-01-23-doughtnut-holes.jpg
Due: prettier --write

Delete uploaded images
  img/staging/2022-01-23-doughtnut-holes-2.jpg
  img/staging/2022-01-23-doughtnut-holes.jpg
Due: none

Doughnut holes (#183)
  epicurean/_posts/2022-01-23-doughtnut-holes.md
Due: prettier --write

Typo
  epicurean/_posts/2022-01-23-doughnut-holes.md
Due: prettier --write

Update dependencies, switch to Jest
  .eslintrc
  .github/workflows/ci.yml
  babel.config.cjs
  package-lock.json
  package.json
  test/orgs.test.js
  test/posts.test.js
  test/utils.js
Due: eslint, prettier --write

Move dependency
  package-lock.json
  package.json
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Update tests (#184)
  .eslintrc
  .github/dependabot.yml
  .github/workflows/ci.yml
  babel.config.cjs
  package-lock.json
  package.json
  test/orgs.test.js
  test/posts.test.js
  test/utils.js
Due: eslint, prettier --write

Add link to /has/
  _config.yml
Due: prettier --write

katydecorah/theme@v4.5.0
  _config.yml
Due: prettier --write

Build your metadata library
  code/_posts/2022-01-26-build-your-metadata-library.md
  img/staging/2022-01-26-build-your-metadata-library.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-01-26-build-your-metadata-library.png
Due: none

Build your metadata library (#188)
  code/_posts/2022-01-26-build-your-metadata-library.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

katydecorah/theme@v4.6.0
  _config.yml
Due: prettier --write

Pain au chocolat
  epicurean/_posts/2022-02-18-pain-au-chocolat.md
  img/staging/2022-02-18-pain-au-chocolat-1.jpg
  img/staging/2022-02-18-pain-au-chocolat-2.jpg
  img/staging/2022-02-18-pain-au-chocolat-3.jpg
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-02-18-pain-au-chocolat-1.jpg
  img/staging/2022-02-18-pain-au-chocolat-2.jpg
  img/staging/2022-02-18-pain-au-chocolat-3.jpg
Due: none

Update 2022-02-18-pain-au-chocolat.md
  epicurean/_posts/2022-02-18-pain-au-chocolat.md
Due: prettier --write

Pain au chocolat (#190)
  epicurean/_posts/2022-02-18-pain-au-chocolat.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

BISCUITS
  epicurean/_posts/2022-02-18-pain-au-chocolat.md
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

:pencil:
  epicurean/_posts/2022-02-18-pain-au-chocolat.md
Due: prettier --write

2021/2022 Winter
  notes/_posts/2022-03-20-2022-winter.md
Due: prettier --write

Create recipes.html
  _includes/post/recipes.html
Due: none

2021 Summer
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
