Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

📚 Now Reading
  _data/now-reading.json
Due: prettier --write

☀️ 2024 Summer
  notes/_posts/2024-09-20-2024-summer.md
Due: prettier --write

Draft
  .doublecheckignore
  package-lock.json
  package.json
Due: prettier --write

Updates
  adventures/_posts/2013-11-11-tea-wine-and-mud-pond.md
  adventures/_posts/2014-06-15-asheville.md
  adventures/_posts/2014-10-26-great-dune.md
  code/_posts/2013-07-03-google-font-explorer.md
  code/_posts/2013-12-04-simple-box.md
  code/_posts/2014-01-03-flat-icon-by-bosco.md
  code/_posts/2014-03-14-leadership-letters.md
  code/_posts/2015-10-14-symlinking-jekyll-data.md
  code/_posts/2018-11-04-photos-in-a-bucket.md
  code/_posts/2021-06-05-lint-markdown.md
  code/_posts/2021-06-06-copyeditor.md
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
  code/_posts/2021-07-04-eslint-config.md
  code/_posts/2023-12-14-now-reading-feature.md
  katydecorah.dic
  package.json
Due: prettier --write, ./scripts/alpha

Switch to double-check (#437)
  .doublecheckignore
  adventures/_posts/2013-11-11-tea-wine-and-mud-pond.md
  adventures/_posts/2014-06-15-asheville.md
  adventures/_posts/2014-10-26-great-dune.md
  code/_posts/2013-07-03-google-font-explorer.md
  code/_posts/2013-12-04-simple-box.md
  code/_posts/2014-01-03-flat-icon-by-bosco.md
  code/_posts/2014-03-14-leadership-letters.md
  code/_posts/2015-10-14-symlinking-jekyll-data.md
  code/_posts/2018-11-04-photos-in-a-bucket.md
  code/_posts/2021-06-05-lint-markdown.md
  code/_posts/2021-06-06-copyeditor.md
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
  code/_posts/2021-07-04-eslint-config.md
  code/_posts/2023-12-14-now-reading-feature.md
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

@double-great/double-check@0.2.1
  .doublecheckrc
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

Revert "@double-great/double-check@0.2.1"
  .doublecheckrc
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

@double-great/double-check@0.3.0
  .doublecheckrc
  package-lock.json
  package.json
Due: prettier --write

@double-great/double-check@0.4.0
  .doublecheckrc
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

Add back dictionary file; reformat rc file
  .doublecheckrc
  .doublecheckrc.js
  katydecorah.dic
Due: eslint, prettier --write, ./scripts/alpha

Run linter on notes
  notes/_posts/2023-05-01-weeknight-meals.md
  notes/_posts/2023-06-14-10-years.md
  notes/_posts/2024-01-25-weeknight-meals-2.md
Due: prettier --write

@double-great/double-check@0.5.1
  package-lock.json
  package.json
Due: prettier --write

.doublecheckrc.yml
  .doublecheckrc.js
  .doublecheckrc.yml
  katydecorah.dic
Due: eslint, prettier --write, ./scripts/alpha

🍂 2024 Fall
  notes/_posts/2024-12-20-2024-fall.md
Due: prettier --write

katydecorah/theme@v5.6.0
  _config.yml
Due: prettier --write

Update Gemfile.lock
  Gemfile.lock
Due: none

update devDependencies
  package-lock.json
  package.json
Due: prettier --write
