Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

Lake Placid
  adventures/_posts/2023-08-28-2023-lake-placid.md
  img/staging/2023-08-28-lake-placid-1.jpg
  img/staging/2023-08-28-lake-placid-2.jpg
  img/staging/2023-08-28-lake-placid-3.jpg
  img/staging/2023-08-28-lake-placid-4.jpg
  img/staging/2023-08-28-lake-placid-5.jpg
Due: prettier --write

Delete uploaded images
  img/staging/2023-08-28-lake-placid-1.jpg
  img/staging/2023-08-28-lake-placid-2.jpg
  img/staging/2023-08-28-lake-placid-3.jpg
  img/staging/2023-08-28-lake-placid-4.jpg
  img/staging/2023-08-28-lake-placid-5.jpg
Due: none

Lake Placid (#405)
  adventures/_posts/2023-08-28-2023-lake-placid.md
Due: prettier --write

✏️
  adventures/_posts/2023-08-28-2023-lake-placid.md
Due: prettier --write

🔗
  _data/organizations.yml
Due: prettier --write

katydecorah/theme@v4.19.1
  _config.yml
Due: prettier --write

☀️ 2023 Summer
  notes/_posts/2023-09-20-2023-summer.md
Due: prettier --write

Clean up
  _favorites/baby.md
  _favorites/index.md
  _favorites/places-to-eat.md
  _favorites/shows.md
Due: prettier --write

Update index.html
  tags/index.html
Due: none

Delete orgs.test.js
  test/orgs.test.js
Due: eslint, prettier --write

Final stuff
  _config.yml
  index.html
  package-lock.json
  package.json
Due: prettier --write

Fix gemfile
  Gemfile
  Gemfile.lock
Due: none

Update Gemfile.lock
  Gemfile.lock
Due: none

Update pr-files.js
  .github/actions/pr-files.js
Due: eslint, prettier --write

Update site.baseline
  baselines/site.baseline
Due: none

Revert
  package-lock.json
  package.json
Due: prettier --write

Delete site.baseline
  baselines/site.baseline
Due: none

Create site.baseline
  baselines/site.baseline
Due: none

Delete site.css
  css/site.css
Due: prettier --write

Create now-reading.yml
  .github/workflows/now-reading.yml
Due: prettier --write

Update now-reading.yml
  .github/workflows/now-reading.yml
Due: prettier --write

📚 Now Reading
  _data/now-reading.json
Due: prettier --write

Testing new home layout
  _config.yml
Due: prettier --write

Testing new home layout (#410)
  _config.yml
Due: prettier --write
