Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

Update 2022-11-07-documentation-action.md
  code/_posts/2022-11-07-documentation-action.md
Due: prettier --write

🖊 Documentation action (#311)
  code/_posts/2022-11-07-documentation-action.md
Due: prettier --write

Typo
  code/_posts/2022-11-07-documentation-action.md
Due: prettier --write

💯
  img/staging/2022-11-09-one-hundred-times.png
  notes/_posts/2022-11-09-one-hundred-times.md
Due: prettier --write

Delete uploaded images
  img/staging/2022-11-09-one-hundred-times.png
Due: none

💯 (#312)
  notes/_posts/2022-11-09-one-hundred-times.md
Due: prettier --write

Create combine-dependabot.yml
  .github/workflows/combine-dependabot.yml
Due: prettier --write

Update combine-dependabot.yml
  .github/workflows/combine-dependabot.yml
Due: prettier --write

Update workflow
  .github/workflows/combine-dependabot.yml
Due: prettier --write

katydecorah/theme@v4.13.1
  _config.yml
Due: prettier --write

katydecorah/theme@v4.13.1 (#317)
  _config.yml
Due: prettier --write

🚶‍♀️ Treadmill desk
  img/staging/2022-11-18-treadmill-desk-2.jpg
  img/staging/2022-11-18-treadmill-desk.jpg
  katydecorah.dic
  notes/_posts/2022-11-18-treadmill-desk.md
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-11-18-treadmill-desk-2.jpg
  img/staging/2022-11-18-treadmill-desk.jpg
Due: none

katydecorah/theme@v4.14.0
  _config.yml
Due: prettier --write

🚶‍♀️ Treadmill desk (#318)
  katydecorah.dic
  notes/_posts/2022-11-18-treadmill-desk.md
Due: prettier --write, ./scripts/alpha

katydecorah/theme@v4.14.1
  _config.yml
Due: prettier --write

Create db-a11y.yml
  .github/workflows/db-a11y.yml
Due: prettier --write

Update db-a11y.yml
  .github/workflows/db-a11y.yml
Due: prettier --write

Publish baselines
  .github/workflows/db-a11y.yml
  .gitignore
  _config.yml
  baselines/site.baseline
Due: prettier --write

Update site.baseline
  baselines/site.baseline
Due: none

Switch
  .github/workflows/a11y.yml
  .github/workflows/db-a11y.yml
Due: prettier --write

2022 Fall
  notes/_posts/2022-12-20-2022-fall.md
Due: prettier --write

Update a11y.yml
  .github/workflows/a11y.yml
Due: prettier --write

Update a11y.yml
  baselines/site.baseline
Due: none

Update _config.yml
  _config.yml
Due: prettier --write

vscode
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

katydecorah/theme@v4.15.1
  _config.yml
Due: prettier --write

🥨 A shared household management
  img/staging/2023-01-02-shared-household-management-1.png
  img/staging/2023-01-02-shared-household-management-2.png
  img/staging/2023-01-02-shared-household-management-3.png
  img/staging/2023-01-02-shared-household-management.png
  katydecorah.dic
  notes/_posts/2023-01-02-shared-household-management.md
Due: prettier --write, ./scripts/alpha

Delete 2023-01-02-shared-household-management-3.png
  img/staging/2023-01-02-shared-household-management-3.png
Due: none

Delete uploaded images
  img/staging/2023-01-02-shared-household-management-1.png
  img/staging/2023-01-02-shared-household-management-2.png
  img/staging/2023-01-02-shared-household-management.png
Due: none

Update 2023-01-02-shared-household-management.md
  katydecorah.dic
  notes/_posts/2023-01-02-shared-household-management.md
Due: prettier --write, ./scripts/alpha

Update 2023-01-02-shared-household-management.md
  notes/_posts/2023-01-02-shared-household-management.md
Due: prettier --write

🥨 A shared household management (#338)
  katydecorah.dic
  notes/_posts/2023-01-02-shared-household-management.md
Due: prettier --write, ./scripts/alpha

Replace doctoc with markdown-all-in-one
  .vscode/extensions.json
  code/_posts/2021-06-05-lint-markdown.md
  package-lock.json
  package.json
Due: prettier --write
