Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Update season.yml
  .github/workflows/season.yml
Due: prettier --write

2021 Spring
  notes/_posts/2021-06-20-2021-spring.md
Due: prettier --write

2021 Fall
  notes/_posts/2021-12-20-2021-fall.md
Due: prettier --write

2020/2021 Winter
  notes/_posts/2021-03-20-2021-winter.md
Due: prettier --write

katydecorah/theme@v4.7.0
  _config.yml
  _includes/post/recipes.html
Due: prettier --write

Add `image` to recipes yaml (#206)
  _config.yml
  notes/_posts/2021-03-20-2021-winter.md
  notes/_posts/2021-06-20-2021-spring.md
  notes/_posts/2021-09-20-2021-summer.md
  notes/_posts/2021-12-20-2021-fall.md
  notes/_posts/2022-03-20-2022-winter.md
Due: prettier --write

katydecorah/theme@v4.8.0
  _config.yml
Due: prettier --write

katydecorah/theme@v4.8.1
  _config.yml
Due: prettier --write

Update _config.yml
  _config.yml
Due: prettier --write

Update Gemfile.lock
  Gemfile.lock
Due: none

Updates
  img/staging/2022-05-16-audiobooks.png
  notes/_posts/2021-12-30-audiobooks.md
  notes/_posts/2022-05-16-audiobooks.md
Due: prettier --write

Update 2022-05-16-audiobooks.md
  notes/_posts/2022-05-16-audiobooks.md
Due: prettier --write

Delete uploaded images
  img/staging/2022-05-16-audiobooks.png
Due: none

Revert
  notes/_posts/2021-03-20-2021-winter.md
  notes/_posts/2021-06-20-2021-spring.md
  notes/_posts/2021-09-20-2021-summer.md
  notes/_posts/2021-12-20-2021-fall.md
  notes/_posts/2022-03-20-2022-winter.md
Due: prettier --write

Audiobooks (#233)
  katydecorah.dic
  notes/_posts/2022-05-16-audiobooks.md
Due: prettier --write, ./scripts/alpha

Kiss the cook
  katydecorah.dic
  notes/_posts/2022-05-19-kiss-the-cook.md
Due: prettier --write, ./scripts/alpha

Update 2022-05-19-kiss-the-cook.md
  notes/_posts/2022-05-19-kiss-the-cook.md
Due: prettier --write

Kiss the cook (#234)
  katydecorah.dic
  notes/_posts/2022-05-19-kiss-the-cook.md
Due: prettier --write, ./scripts/alpha

Switch from Lambda to GitHub Actions
  code/_posts/2022-06-01-lamba-to-actions.md
  img/staging/2022-06-01-lamba-to-actions.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-06-01-lamba-to-actions.png
Due: none

Update 2022-06-01-lamba-to-actions.md
  code/_posts/2022-06-01-lamba-to-actions.md
Due: prettier --write

Switch from Lambda to GitHub Actions (#242)
  code/_posts/2022-06-01-lamba-to-actions.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete 2022-05-19-kiss-the-cook.md
  notes/_posts/2022-05-19-kiss-the-cook.md
Due: prettier --write

A Zoom of one's own
  img/staging/2022-06-16-zoom-of-ones-own-1a.jpg
  img/staging/2022-06-16-zoom-of-ones-own-1b.jpg
  img/staging/2022-06-16-zoom-of-ones-own-2.jpg
  img/staging/2022-06-16-zoom-of-ones-own-3.jpg
  img/staging/2022-06-16-zoom-of-ones-own-4.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5a.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5b.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5c.jpg
  katydecorah.dic
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-06-16-zoom-of-ones-own-1a.jpg
  img/staging/2022-06-16-zoom-of-ones-own-1b.jpg
  img/staging/2022-06-16-zoom-of-ones-own-2.jpg
  img/staging/2022-06-16-zoom-of-ones-own-3.jpg
  img/staging/2022-06-16-zoom-of-ones-own-4.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5a.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5b.jpg
  img/staging/2022-06-16-zoom-of-ones-own-5c.jpg
Due: none

A Zoom of one's own (#248)
  katydecorah.dic
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: prettier --write, ./scripts/alpha

2022 Spring
  notes/_posts/2022-06-20-2022-spring.md
Due: prettier --write

Remove domain from posts
  code/_posts/2013-05-28-line-lengthicator.md
  code/_posts/2013-07-03-google-font-explorer.md
  code/_posts/2014-12-30-from-haml-to-yaml.md
  code/_posts/2015-02-21-weaving-geojson.md
  code/_posts/2015-03-25-writing-for-everyone.md
  code/_posts/2015-10-14-symlinking-jekyll-data.md
  code/_posts/2016-05-08-jekyllconf.md
  code/_posts/2018-02-04-proposal-reviewer.md
  code/_posts/2018-05-11-weather-status.md
  code/_posts/2018-06-22-spotify-to-jekyll.md
  code/_posts/2021-03-27-bookmark-action.md
  code/_posts/2022-01-16-wordle-to-yaml.md
  code/_posts/2022-01-26-build-your-metadata-library.md
  notes/_posts/2014-10-31-how-i-write.md
  notes/_posts/2022-05-16-audiobooks.md
Due: prettier --write

Update katydecorah.dic
  katydecorah.dic
Due: ./scripts/alpha

Remove absolute (local) urls (#252)
  code/_posts/2013-05-28-line-lengthicator.md
  code/_posts/2013-07-03-google-font-explorer.md
  code/_posts/2014-12-30-from-haml-to-yaml.md
  code/_posts/2015-02-21-weaving-geojson.md
  code/_posts/2015-03-25-writing-for-everyone.md
  code/_posts/2015-10-14-symlinking-jekyll-data.md
  code/_posts/2016-05-08-jekyllconf.md
  code/_posts/2018-02-04-proposal-reviewer.md
  code/_posts/2018-05-11-weather-status.md
  code/_posts/2018-06-22-spotify-to-jekyll.md
  code/_posts/2021-03-27-bookmark-action.md
  code/_posts/2022-01-16-wordle-to-yaml.md
  code/_posts/2022-01-26-build-your-metadata-library.md
  katydecorah.dic
  notes/_posts/2014-10-31-how-i-write.md
  notes/_posts/2022-05-16-audiobooks.md
Due: prettier --write, ./scripts/alpha

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
