Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

Update bio link
  _includes/footer.html
Due: none

Visually hide h1
  _layouts/default.html
  _sass/_utilities.scss
Due: prettier --write

Clean up map header
  _includes/post-map-header.html
  _includes/post-meta.html
  _sass/_posts.scss
  _sass/_postsMap.scss
Due: prettier --write

:wrench: update dependencies
  package-lock.json
  package.json
Due: prettier --write

Clean up iceland maps
  _sass/_postsMap.scss
  _sass/_variables.scss
  adventures/_posts/2015-06-02-iceland.md
Due: prettier --write

Clean up
  _includes/head.html
  _layouts/category.html
  _layouts/default.html
  _layouts/home.html
  _sass/_accessibility.scss
  _sass/_front-page.scss
  _sass/_resume.scss
  resume/index.md
Due: prettier --write

Add missing include
  _layouts/default.html
Due: none

Fix container class
  _layouts/default.html
Due: none

Fix grid
  _sass/_resume.scss
Due: prettier --write

Update bio
  _includes/footer.html
Due: none

Adjust iceland photo class
  _sass/_postsMap.scss
Due: prettier --write

Create read.yml
  _data/read.yml
Due: prettier --write

Update read.yml
  _data/read.yml
Due: prettier --write

Draft
  _data/read.yml
  _includes/button.html
  _sass/_posts.scss
  _sass/_shame.scss
  code/_posts/2020-09-13-read.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Add read.yml
  .github/workflows/read.yml
  _data/read.yml
Due: prettier --write

Fix version
  .github/workflows/read.yml
Due: prettier --write

Updated _data/read.yml
  _data/read.yml
Due: prettier --write

Clean up
  _data/read.yml
Due: prettier --write

Update date
  code/_posts/2020-09-20-read.md
Due: prettier --write

Draft
  .github/workflows/read.yml
  _includes/button.html
  _sass/_buttons.scss
  _sass/_shame.scss
  code/_posts/2020-09-20-read.md
  img/staging/2020-09-20-read-1.png
  img/staging/2020-09-20-read.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

:wrench: Update dependencies
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

Update 2020-09-20-read.md
  code/_posts/2020-09-20-read.md
Due: prettier --write

Update date
  code/_posts/2020-09-21-read.md
  img/staging/2020-09-21-read-1.png
  img/staging/2020-09-21-read.png
Due: prettier --write

Delete uploaded images
  img/staging/2020-09-21-read-1.png
  img/staging/2020-09-21-read.png
Due: none

Fix action
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Update spotify-to-jekyll.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

🎵 2020 Summer
  _data/playlists.yml
  img/staging/2020-summer.png
  playlists/_posts/2020-09-22-2020-summer.md
Due: prettier --write

Update 2020-09-21-read.md
  code/_posts/2020-09-21-read.md
Due: prettier --write

Fixes #128
  _data/read.yml
Due: prettier --write

Add images
  img/staging/expressive-design-systems.png
  img/staging/practical-pair-programming.png
Due: none

Delete uploaded images
  img/staging/2020-summer.png
  img/staging/expressive-design-systems.png
  img/staging/practical-pair-programming.png
Due: none

Update date
  code/_posts/2020-10-15-read.md
Due: prettier --write

Edits
  _sass/_code.scss
  code/_posts/2020-10-14-read.md
Due: prettier --write

Track your books with GitHub Actions (#130)
  .github/workflows/read.yml
  _data/read.yml
  _includes/button.html
  _sass/_buttons.scss
  _sass/_code.scss
  _sass/_posts.scss
  _sass/_shame.scss
  code/_posts/2020-10-14-read.md
  img/staging/2020-summer.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha
