Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

:wrench: clean up blockquotes
  _sass/_posts.scss
  _sass/_type.scss
Due: prettier --write

The big image fix (#121)
  adventures/_posts/2013-08-24-palmertown-mountain-range.md
  adventures/_posts/2014-08-10-cascade-falls.md
  epicurean/_posts/2014-03-04-ice-cream.md
Due: prettier --write

Add remark linters
  .remarkrc.js
  code/_posts/2013-09-23-google-static-map-maker.md
  package-lock.json
  package.json
Due: eslint, prettier --write

🧹
  card-catalog/index.html
  hello/index.html
  projects/index.html
Due: none

Update _config.yml
  _config.yml
Due: prettier --write

:wrench: update dependencies
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

🎨
  _sass/_resume.scss
  _sass/_variables.scss
Due: prettier --write

🎨
  _sass/_resume.scss
Due: prettier --write

🔍 Check for unhelpful alt text
  .remarkrc.js
  code/_posts/2020-07-04-alt-text.md
  img/staging/2020-07-04-alt-text.png
Due: eslint, prettier --write

Delete uploaded images
  img/staging/2020-07-04-alt-text.png
Due: none

lint
  code/_posts/2020-07-04-alt-text.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Update 2020-07-04-alt-text.md
  code/_posts/2020-07-04-alt-text.md
Due: prettier --write

Update katydecorah.dic
  katydecorah.dic
Due: ./scripts/alpha

Check for unhelpful alt text (#122)
  .remarkrc.js
  _config.yml
  code/_posts/2020-07-04-alt-text.md
  katydecorah.dic
Due: eslint, prettier --write, ./scripts/alpha

:wrench: fix lint-staged
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

📓Feedback Library
  code/_posts/2020-07-05-feedback-library.md
  img/staging/2020-07-05-feedback-library-2.png
  img/staging/2020-07-05-feedback-library.png
Due: prettier --write

Delete uploaded images
  img/staging/2020-07-05-feedback-library-2.png
  img/staging/2020-07-05-feedback-library.png
Due: none

:wrench: update example
  code/_posts/2020-07-04-alt-text.md
Due: prettier --write

📓 Feedback Library (#123)
  code/_posts/2020-07-05-feedback-library.md
Due: prettier --write

:camera: update screenshots
  img/staging/2019-07-31-email-2.png
  img/staging/2019-07-31-email-6.png
  img/staging/2019-07-31-email-doc-id.png
  img/staging/2019-07-31-email.png
Due: none

Delete uploaded images
  img/staging/2019-07-31-email-2.png
  img/staging/2019-07-31-email-6.png
  img/staging/2019-07-31-email-doc-id.png
  img/staging/2019-07-31-email.png
Due: none

Mention dblgr8
  _includes/footer.html
Due: none

Update image
  img/staging/2020-07-05-feedback-library.png
Due: none

Delete uploaded images
  img/staging/2020-07-05-feedback-library.png
Due: none

🚮 Remove year-end-review posts
  _config.yml
  _data/top-ten.yml
  _layouts/review.html
  _sass/_map.scss
  _sass/_review.scss
  css/style.scss
  review/2005.html
  review/2008.html
  review/2009.html
  review/2010.html
  review/2011.html
  review/2012.html
  review/2013.html
  review/2014.html
  review/2015.html
  review/2016.html
  review/2017.html
  review/2018.html
  review/2019.html
  review/2020.html
  review/index.html
Due: prettier --write

🧹 Clean up
  .eslintignore
  .prettierignore
  .scss-lint.yml
  _includes/end.html
  _includes/top.html
  assets/lunr-feed.js
  assets/lunr.min.js
  assets/style.scss
  code/_posts/2015-08-15-lunr-and-jekyll.md
Due: eslint, prettier --write

🧹 Clean up
  _data/brags.yml
  _sass/_resume.scss
  humble-brags/index.html
  resume/index.md
Due: prettier --write

Update index.md
  resume/index.md
Due: prettier --write

Simplify (#125)
  .eslintignore
  .prettierignore
  .scss-lint.yml
  _config.yml
  _data/brags.yml
  _data/top-ten.yml
  _includes/end.html
  _includes/top.html
  _layouts/review.html
  _sass/_map.scss
  _sass/_resume.scss
  _sass/_review.scss
  assets/lunr-feed.js
  assets/lunr.min.js
  assets/style.scss
  code/_posts/2015-08-15-lunr-and-jekyll.md
  humble-brags/index.html
  resume/index.md
  review/2005.html
  review/2008.html
  review/2009.html
  review/2010.html
  review/2011.html
  review/2012.html
  review/2013.html
  review/2014.html
  review/2015.html
  review/2016.html
  review/2017.html
  review/2018.html
  review/2019.html
  review/2020.html
  review/index.html
Due: eslint, prettier --write

🧹 Clean up
  _includes/give.html
Due: none

🧹 Clean up
  _config.yml
  _includes/top.html
  bin/alpha
  package-lock.json
  package.json
Due: prettier --write

Rework header
  Gemfile.lock
  _includes/post-meta.html
  _includes/post-playlists.html
  _includes/post-recipe.html
  _layouts/default.html
  _layouts/front-page.html
  _layouts/hello.html
  _layouts/post.html
  _sass/_front-page.scss
  _sass/_header.scss
  _sass/_layout.scss
  _sass/_posts.scss
  _sass/_type.scss
  assets/style.scss
  search/index.html
  tags/index.html
Due: prettier --write

Clean up header
  _includes/header.html
  _includes/post-meta.html
  _layouts/default.html
  _sass/_posts.scss
  _sass/_search.scss
  search/index.html
  tags/index.html
Due: prettier --write

Clean up map header
  _includes/post-map-header.html
  _includes/post-meta.html
  _sass/_postsMap.scss
Due: prettier --write

Unify layouts
  _includes/category-paginator.html
  _includes/top.html
  _layouts/category.html
  _layouts/default.html
  _layouts/front-page.html
  _layouts/home.html
  _layouts/post.html
  _sass/_front-page.scss
  _sass/_resume.scss
  index.html
  resume/index.md
Due: prettier --write

Clean up map header
  _includes/post-map-header.html
Due: none

Remove unused files
  _includes/resume/education.html
  _includes/resume/notables.html
  _includes/resume/projects.html
  _includes/resume/skills.html
  _includes/resume/speaking.html
  _includes/resume/volunteer.html
  _includes/resume/work.html
  _includes/resume/writing.html
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
