Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Remove tag
  code/_posts/2021-02-10-remark-lint-haiku.md
Due: prettier --write

Save your bookmarks with GitHub actions (#162)
  code/_posts/2021-03-27-bookmark-action.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

🔧 Update dependencies
  Gemfile.lock
  package-lock.json
Due: prettier --write

Monitor 404s with Sentry (#163)
  .remarkrc.js
  code/_posts/2021-04-10-monitor-404s-with-sentry.md
Due: eslint, prettier --write

:wrench:
  code/_posts/2021-04-10-monitor-404s-with-sentry.md
  img/staging/2021-04-10-monitor-404s-with-sentry.jpg
Due: prettier --write

Delete uploaded images
  img/staging/2021-04-10-monitor-404s-with-sentry.jpg
Due: none

Add dark/light toggle
  README.md
Due: prettier --write

:wrench: Update dependencies
  Gemfile.lock
  package-lock.json
Due: prettier --write

:wrench: Make category titles downcase in breadcrumb
  adventures/index.html
  code/index.html
  epicurean/index.html
  notes/index.html
  playlists/index.html
Due: none

:wrench: Make tags go inline
  tags/index.html
Due: none

Fix indent
  code/_posts/2021-04-10-monitor-404s-with-sentry.md
Due: prettier --write

Draft
  .editorrc
  _config.yml
  code/_posts/2021-04-24-remark-linters.md
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

:wrench: Clean up
  code/_posts/2018-02-04-proposal-reviewer.md
  package-lock.json
  package.json
Due: prettier --write

Finish up
  code/_posts/2021-04-24-remark-linters.md
  code/_posts/2021-06-05-lint-markdown.md
  katydecorah.dic
  package.json
Due: prettier --write, ./scripts/alpha

Add image
  code/_posts/2021-06-05-lint-markdown.md
  img/staging/2021-06-05-lint-markdown.png
Due: prettier --write

Reduce changes
  _config.yml
Due: prettier --write

Update 2021-06-05-lint-markdown.png
  img/staging/2021-06-05-lint-markdown.png
Due: none

Delete uploaded images
  img/staging/2021-06-05-lint-markdown.png
Due: none

Remark linters (#165)
  .editorrc
  code/_posts/2021-06-05-lint-markdown.md
  katydecorah.dic
  package-lock.json
  package.json
Due: prettier --write, ./scripts/alpha

Add link to remark-lint
  code/_posts/2021-06-05-lint-markdown.md
Due: prettier --write

🔮Clarify
  code/_posts/2021-06-05-lint-markdown.md
Due: prettier --write

:computer: Edits
  code/_posts/2021-06-05-lint-markdown.md
Due: prettier --write

Copyeditor on commit
  .editorrc
  code/_posts/2021-06-06-copyeditor.md
  img/staging/2021-06-06-copyeditor.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2021-06-06-copyeditor.png
Due: none

Copyeditor on commit (#166)
  .editorrc
  code/_posts/2021-06-06-copyeditor.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

🔮 More credit to alex
  code/_posts/2021-06-06-copyeditor.md
Due: prettier --write

Create 2021-06-10-tracking-searches-with-no-results.md
  code/_posts/2021-06-10-tracking-searches-with-no-results.md
Due: prettier --write

Edits
  code/_posts/2021-06-10-tracking-searches-with-no-results.md
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
  img/staging/2021-06-12-improve-documentation-with-failed-searches.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Edits
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
Due: prettier --write

Delete uploaded images
  img/staging/2021-06-12-improve-documentation-with-failed-searches.png
Due: none

Improve documentation with failed searches (#167)
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

:wrench: update dependencies
  package-lock.json
  package.json
Due: prettier --write

Update 2021-06-13-barberville-falls.md
  adventures/_posts/2021-06-13-barberville-falls.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
