Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

A test for haiku
  .remarkrc.js
  code/_posts/2021-02-10-remark-lint-haiku.md
  package.json
Due: eslint, prettier --write

A test for haiku (#149)
  .remarkrc.js
  code/_posts/2021-02-10-remark-lint-haiku.md
  package.json
Due: eslint, prettier --write

:wrench: Update dependencies
  Gemfile.lock
Due: none

Updated _data/read.yml
  _data/read.yml
Due: prettier --write

Draft
  img/staging/2021-02-08-coven-1.png
  img/staging/2021-02-08-coven-2.png
  img/staging/2021-02-08-technopagan.png
  img/staging/2021-02-08-use-magic.png
  katydecorah.dic
  notes/_posts/2021-02-18-magic-of-the-internet.md
Due: prettier --write, ./scripts/alpha

🧇
  .github/workflows/rss.yml
Due: prettier --write

🧇
  rss-food.json
Due: prettier --write

🧇
  code/_posts/2021-02-27-instagram-rss-action.md
  img/staging/2021-02-27-instagram-rss-action.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2021-02-27-instagram-rss-action.png
Due: none

Generate an Instagram RSS feed with GitHub actions (#152)
  code/_posts/2021-02-27-instagram-rss-action.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

🧹
  .github/workflows/rss.yml
  rss-food.json
Due: prettier --write

Add recipe-box-action
  .github/workflows/recipe.yml
  _data/recipes.yml
Due: prettier --write

Updated _data/recipes.yml
  _data/recipes.yml
Due: prettier --write

🍇
  recipe-box/index.md
Due: prettier --write

Update Gemfile.lock
  Gemfile.lock
Due: none

Update tests
  package-lock.json
  package.json
Due: prettier --write

:wrench: update dependencies
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

Update spotify-to-jekyll.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Trigger spotify-to-jekyll
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

🎵 2020/2021 Winter
  _data/playlists.yml
  img/staging/2020-2021-winter.png
  playlists/_posts/2021-03-21-2020-2021-winter.md
Due: prettier --write

Add back schedule
  .github/workflows/spotify-to-jekyll.yml
  img/staging/2020-2021-winter.png
Due: prettier --write

Delete uploaded images
  img/staging/2020-2021-winter.png
Due: none

🧹
  _data/recipes.yml
  recipe-box/index.md
Due: prettier --write

🧹
  resume/index.md
Due: prettier --write

Save your bookmarks with GitHub actions
  code/_posts/2021-03-27-bookmark-action.md
  img/staging/2021-03-27-bookmark-action.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2021-03-27-bookmark-action.png
Due: none

Update 2021-03-27-bookmark-action.md
  code/_posts/2021-03-27-bookmark-action.md
Due: prettier --write
