Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

The kit
  img/staging/2021-09-26-take-out-2.jpeg
  img/staging/2021-09-26-take-out.jpeg
  notes/_posts/2021-09-26-the-kit.md
Due: prettier --write

Fix images
  img/staging/2021-09-26-take-out-2.jpg
  img/staging/2021-09-26-take-out.jpg
  notes/_posts/2021-09-26-the-kit.md
Due: prettier --write

Delete uploaded images
  img/staging/2021-09-26-take-out-2.jpg
  img/staging/2021-09-26-take-out.jpg
Due: none

The kit (#175)
  notes/_posts/2021-09-26-the-kit.md
Due: prettier --write

Update _config.yml
  _config.yml
Due: prettier --write

Update 2021-09-20-2021-summer.md
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

Copy edits
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
Due: prettier --write

Update 2021-06-12-improve-documentation-with-failed-searches.md
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
Due: prettier --write

Copyedits 2021-06-12-improve-documentation-with-failed-searches.md (#177)
  code/_posts/2021-06-12-improve-documentation-with-failed-searches.md
Due: prettier --write

Automate peer dependency management
  code/_posts/2021-10-09-automate-peer-dependency-management.md
  img/staging/automate-peer-dependency-management.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/automate-peer-dependency-management.png
Due: none

Automate peer dependency management (#178)
  code/_posts/2021-10-09-automate-peer-dependency-management.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Copyedit 2021-10-09-automate-peer-dependency-management.md
  code/_posts/2021-10-09-automate-peer-dependency-management.md
  img/staging/2021-10-09-automate-peer-dependency-management-2.png
Due: prettier --write

Delete uploaded images
  img/staging/2021-10-09-automate-peer-dependency-management-2.png
Due: none

Copyedit 2021-10-09-automate-peer-dependency-management.md (#179)
  code/_posts/2021-10-09-automate-peer-dependency-management.md
Due: prettier --write

Update extra-eyes
  package-lock.json
  package.json
Due: prettier --write

🔮
  _layouts/linkedin.html
  _posts/2021-11-27-for-hire.md
  assets/lunr-feed.js
  index.html
Due: eslint, prettier --write

:wrench: Update dependencies
  package-lock.json
  package.json
Due: prettier --write

2021 Fall
  notes/_posts/2021-12-20-2021-fall.md
Due: prettier --write

Revert "🔮"
  _layouts/linkedin.html
  _posts/2021-11-27-for-hire.md
  assets/lunr-feed.js
  index.html
Due: eslint, prettier --write

:wrench: Fix style
  _config.yml
Due: prettier --write

Update 2021-12-20-2021-fall.md
  notes/_posts/2021-12-20-2021-fall.md
Due: prettier --write

:wrench: Update dependencies
  Gemfile.lock
Due: none

Update CNAME
  CNAME
Due: none

Update season.yml
  .github/workflows/season.yml
Due: prettier --write

katydecorah/theme@v3.0.0
  _config.yml
Due: prettier --write

:wrench: Exclude seasonal posts from extra-eyes
  .extraeyesignore
  package.json
Due: prettier --write

My year with audiobooks
  katydecorah.dic
  notes/_posts/2021-12-30-audiobooks.md
Due: prettier --write, ./scripts/alpha

Fog on Ballston Lake (#180)
  adventures/_posts/2021-12-31-ballston-lake.md
Due: prettier --write

katydecorah/theme@v3.1.0
  _config.yml
Due: prettier --write

katydecorah/theme@v3.3.0 & increase `paginate` to `10`
  _config.yml
Due: prettier --write

katydecorah/theme@v4.0.0
  _config.yml
  adventure-guide/index.html
  adventure-guide/index.md
  code/_posts/2018-01-06-google-sheets-to-gmail.md
  index.html
  notes/_posts/2014-10-31-how-i-write.md
Due: prettier --write

katydecorah/theme@v4.0.0 (#181)
  _config.yml
  adventure-guide/index.html
  adventure-guide/index.md
  code/_posts/2018-01-06-google-sheets-to-gmail.md
  index.html
  notes/_posts/2014-10-31-how-i-write.md
Due: prettier --write

Wordle to yaml
  code/_posts/2022-01-16-wordle-to-yaml.md
  img/staging/2022-01-16-wordle.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-01-16-wordle.png
Due: none

Update 2022-01-16-wordle-to-yaml.md
  code/_posts/2022-01-16-wordle-to-yaml.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
