Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

Delete uploaded images
  img/staging/2025-11-22-gym-tour-2.jpg
  img/staging/2025-11-22-gym-tour.jpg
Due: none

Update 2025-11-22-gym-tour.md
  notes/_posts/2025-11-22-gym-tour.md
Due: prettier --write

Gym tour (#455)
  notes/_posts/2025-11-22-gym-tour.md
Due: prettier --write

📚 Now Reading
  _data/now-reading.json
Due: prettier --write

Update dependencies
  .eslintignore
  .eslintrc
  eslint.config.js
  package-lock.json
  package.json
  test/posts.test.js
Due: eslint, prettier --write

katydecorah/theme@v5.8.0
  _config.yml
Due: prettier --write

🍂 2025 Fall
  notes/_posts/2025-12-20-2025-fall.md
Due: prettier --write

Update "🍂 2025 Fall"
  notes/_posts/2025-12-20-2025-fall.md
Due: prettier --write

katydecorah/theme@v5.8.1
  _config.yml
Due: prettier --write

Charmera
  img/staging/2026-02-05-charmera-01.jpg
  img/staging/2026-02-05-charmera-03.jpg
  img/staging/2026-02-05-charmera-04.jpg
  img/staging/2026-02-05-charmera-06.jpg
  img/staging/2026-02-05-charmera-07.jpg
  img/staging/2026-02-05-charmera-08.jpg
  img/staging/2026-02-05-charmera-09.jpg
  img/staging/2026-02-05-charmera-10.jpg
  img/staging/2026-02-05-charmera-11.jpg
  img/staging/2026-02-05-charmera-12.jpg
  notes/_posts/2026-02-05-charmera.md
Due: prettier --write

Delete uploaded images
  img/staging/2026-02-05-charmera-01.jpg
  img/staging/2026-02-05-charmera-03.jpg
  img/staging/2026-02-05-charmera-04.jpg
  img/staging/2026-02-05-charmera-06.jpg
  img/staging/2026-02-05-charmera-07.jpg
  img/staging/2026-02-05-charmera-08.jpg
  img/staging/2026-02-05-charmera-09.jpg
  img/staging/2026-02-05-charmera-10.jpg
  img/staging/2026-02-05-charmera-11.jpg
  img/staging/2026-02-05-charmera-12.jpg
Due: none

Charmera (#458)
  notes/_posts/2026-02-05-charmera.md
Due: prettier --write
