Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

🔮 katy.dev
  CNAME
  README.md
  _config.yml
Due: prettier --write

Update deps
  package-lock.json
  package.json
Due: prettier --write

Replace CDN
  search/index.html
Due: none

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: prettier --write

In defense of magic
  img/staging/2021-02-08-coven-1.png
  img/staging/2021-02-08-coven-2.png
  img/staging/2021-02-08-in-defense-of-magic-1.png
  img/staging/2021-02-08-in-defense-of-magic-2.png
  img/staging/2021-02-08-in-defense-of-magic-3.png
  img/staging/2021-02-08-in-defense-of-magic-4.png
  img/staging/2021-02-08-technopagan.png
  img/staging/2021-02-08-use-magic.png
  notes/_posts/2021-02-18-magic-of-the-internet.md
  notes/_posts/2022-07-01-in-defense-of-magic.md
Due: prettier --write

Update 2022-07-01-in-defense-of-magic.md
  notes/_posts/2022-07-01-in-defense-of-magic.md
Due: prettier --write

Update date
  img/staging/2022-07-01-in-defense-of-magic-1.png
  img/staging/2022-07-01-in-defense-of-magic-2.png
  img/staging/2022-07-01-in-defense-of-magic-3.png
  img/staging/2022-07-01-in-defense-of-magic-4.png
  notes/_posts/2022-07-01-in-defense-of-magic.md
Due: prettier --write

Delete uploaded images
  img/staging/2022-07-01-in-defense-of-magic-1.png
  img/staging/2022-07-01-in-defense-of-magic-2.png
  img/staging/2022-07-01-in-defense-of-magic-3.png
  img/staging/2022-07-01-in-defense-of-magic-4.png
Due: none

Reduce changes
  notes/_posts/2021-03-20-2021-winter.md
  notes/_posts/2021-06-20-2021-spring.md
  notes/_posts/2021-09-20-2021-summer.md
  notes/_posts/2021-12-20-2021-fall.md
  notes/_posts/2022-03-20-2022-winter.md
Due: prettier --write

🔮 In defense of magic (#257)
  katydecorah.dic
  notes/_posts/2022-07-01-in-defense-of-magic.md
Due: prettier --write, ./scripts/alpha

GitHub Desktop
  code/_posts/2022-07-16-github-desktop.md
  img/staging/2022-07-16-github-desktop.png
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-07-16-github-desktop.png
Due: none

Update 2022-07-16-github-desktop.md
  code/_posts/2022-07-16-github-desktop.md
Due: prettier --write

GitHub Desktop (#262)
  code/_posts/2022-07-16-github-desktop.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Edits
  code/_posts/2022-07-16-github-desktop.md
Due: prettier --write

Edit
  code/_posts/2022-07-16-github-desktop.md
Due: prettier --write

💅 katydecorah/theme@v4.9.0
  _config.yml
Due: prettier --write

🫐 Things to do before work
  img/staging/2022-07-20-things-to-do-before-work.jpg
  katydecorah.dic
  notes/_posts/2022-07-20-things-to-do-before-work.md
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2022-07-20-things-to-do-before-work.jpg
Due: none

🫐 Things to do before work (#266)
  katydecorah.dic
  notes/_posts/2022-07-20-things-to-do-before-work.md
Due: prettier --write, ./scripts/alpha

Update README.md
  README.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update dependencies
  Gemfile.lock
  package-lock.json
  package.json
Due: prettier --write

Create a11y.md
  .github/workflows/a11y.md
Due: prettier --write
