Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Update combine-dependabot.yml
  .github/workflows/combine-dependabot.yml
Due: prettier --write

katydecorah/seasonal-post-action@v5.3.0
  .github/workflows/season.yml
Due: prettier --write

Update season.yml
  .github/workflows/season.yml
Due: prettier --write

katydecorah/theme@v4.16.0
  _config.yml
Due: prettier --write

Test
  .github/actions/pr-files.js
  .github/workflows/a11y.yml
Due: eslint, prettier --write

Update 2022-06-16-a-zoom-of-ones-own.md
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: prettier --write

Update pr-files.js
  .github/actions/pr-files.js
Due: eslint, prettier --write

inputUrls
  .github/actions/pr-files.js
  .github/workflows/a11y.yml
Due: eslint, prettier --write

maxUrls
  .github/actions/pr-files.js
  .github/workflows/a11y.yml
Due: eslint, prettier --write

Clean up
  .github/workflows/a11y.yml
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: prettier --write

Update a11y.yml
  .github/workflows/a11y.yml
Due: prettier --write

Revert "Update 2022-06-16-a-zoom-of-ones-own.md"
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: prettier --write

Switch to double-great/accessibility-scan-action (#332)
  .github/actions/pr-files.js
  .github/workflows/a11y.yml
  .gitignore
  _config.yml
  baselines/site.baseline
  notes/_posts/2022-06-16-a-zoom-of-ones-own.md
Due: eslint, prettier --write

katydecorah/seasonal-post-action
  .github/actions/seasonal-post-template.md
  .github/workflows/season.yml
Due: prettier --write

🍂 2022 Fall
  notes/_posts/2022-12-20-2022-fall.md
Due: prettier --write

type: season
  .github/actions/seasonal-post-template.md
  notes/_posts/2022-12-20-2022-fall.md
Due: prettier --write

katydecorah/seasonal-post-action@v6.0.0
  .github/workflows/season.yml
Due: prettier --write

☀️ 2022 Summer
  notes/_posts/2022-09-20-2022-summer.md
Due: prettier --write

katydecorah/seasonal-post-action (#357)
  .github/actions/seasonal-post-template.md
  .github/workflows/season.yml
  notes/_posts/2022-09-20-2022-summer.md
  notes/_posts/2022-12-20-2022-fall.md
Due: prettier --write

katydecorah/seasonal-post-action@v6.0.1
  .github/workflows/season.yml
Due: prettier --write

❄️ 2022/2023 Winter
  notes/_posts/2023-03-20-2023-winter.md
Due: prettier --write

Add font-library redirect
  font-library/index.md
Due: prettier --write

katydecorah/theme@v4.17.0
  _config.yml
Due: prettier --write

🎧 Where do you get your audiobooks?
  img/staging/2023-04-21-audiobook-sources.png
  notes/_posts/2023-04-21-audiobook-sources.md
Due: prettier --write

Delete uploaded images
  img/staging/2023-04-21-audiobook-sources.png
Due: none

Update 2023-04-21-audiobook-sources.md
  notes/_posts/2023-04-21-audiobook-sources.md
Due: prettier --write

🎧 Where do you get your audiobooks? (#391)
  notes/_posts/2023-04-21-audiobook-sources.md
Due: prettier --write

On measuring the wrong data for 2 years
  img/staging/2023-04-25-achalasia-1.jpg
  img/staging/2023-04-25-achalasia.png
  katydecorah.dic
  notes/_posts/2023-04-25-achalasia.md
Due: prettier --write, ./scripts/alpha

Delete uploaded images
  img/staging/2023-04-25-achalasia-1.jpg
  img/staging/2023-04-25-achalasia.png
Due: none

Fixes
  .github/workflows/a11y.yml
  README.md
Due: prettier --write

Draft
  .github/actions/pr-files.js
  .github/workflows/a11y.yml
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
