Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

.lintstagedrc:

{
  "*.js": ["eslint", "prettier --write"],
  "*.scss": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"],
  "katydecorah.dic": ["./scripts/alpha"]
}

🎵 2020 Spring
  _data/playlists.yml
  playlists/_posts/2020-06-21-2020-spring.md
Due: prettier --write

🎵
  img/staging/2020-spring.png
Due: none

Delete uploaded images
  img/staging/2020-spring.png
Due: none

Fix image path
  playlists/_posts/2020-06-21-2020-spring.md
Due: prettier --write

Update 2020-06-21-2020-spring.md
  playlists/_posts/2020-06-21-2020-spring.md
Due: prettier --write

Update spotify-to-jekyll.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

add titles to review thumbs
  _layouts/review.html
  _sass/_review.scss
Due: prettier --write

fix code block
  code/_posts/2019-12-01-codevember.md
Due: prettier --write

replace gif with png
  code/_posts/2014-03-19-dots.md
  img/staging/2014-03-19-dots.png
  img/staging/2014-10-31-how-i-write.png
  notes/_posts/2014-10-31-how-i-write.md
Due: prettier --write

Delete uploaded images
  img/staging/2014-03-19-dots.png
  img/staging/2014-10-31-how-i-write.png
Due: none

use remark-frontmatter-validator
  .remarkrc
  package-lock.json
  package.json
  test/posts.test.js
Due: eslint, prettier --write

more validation
  .remarkrc
  package-lock.json
  package.json
Due: prettier --write

Update .remarkrc
  .remarkrc
Due: none

use remark-frontmatter-validator (#119)
  .remarkrc
  package-lock.json
  package.json
  test/posts.test.js
Due: eslint, prettier --write

update remark-frontmatter-validator
  .remarkrc
  package-lock.json
  package.json
  test/posts.test.js
Due: eslint, prettier --write

Update remark-frontmatter-validator
  package-lock.json
  package.json
Due: prettier --write

Create 2014-01-12-dean-farm-heritage-trail-2.jpg
  img/staging/2014-01-12-dean-farm-heritage-trail-2.jpg
Due: none

Delete uploaded images
  img/staging/2014-01-12-dean-farm-heritage-trail-2.jpg
Due: none

Update places-to-eat.md
  _favorites/places-to-eat.md
Due: prettier --write

update remark-frontmatter-validator
  .remarkrc
  .remarkrc.js
  package-lock.json
  package.json
Due: eslint, prettier --write

create video include; fix iceland post videos
  _includes/video.html
  adventures/_posts/2015-06-02-iceland.md
Due: prettier --write

Update 2013-09-28-mount-greylock.md
  adventures/_posts/2013-09-28-mount-greylock.md
Due: prettier --write

Update 2015-10-09-to-vt-to-nh-to-me.md
  adventures/_posts/2015-10-09-to-vt-to-nh-to-me.md
Due: prettier --write

Update 2015-09-20-adirondack-balloon-festival-2015.md
  adventures/_posts/2015-09-20-adirondack-balloon-festival-2015.md
Due: prettier --write

Update 2014-05-17-papscanee-island-nature-preserve.md
  adventures/_posts/2014-05-17-papscanee-island-nature-preserve.md
Due: prettier --write

replace vimeo
  adventures/_posts/2016-09-20-bow-2016.md
  code/_posts/2018-08-31-mood-ring.md
  code/_posts/2019-12-01-codevember.md
  notes/_posts/2015-03-18-the-bird-feeder.md
Due: prettier --write

Create video.html include (#120)
  _includes/video.html
  adventures/_posts/2013-09-28-mount-greylock.md
  adventures/_posts/2014-05-17-papscanee-island-nature-preserve.md
  adventures/_posts/2015-06-02-iceland.md
  adventures/_posts/2015-09-20-adirondack-balloon-festival-2015.md
  adventures/_posts/2015-10-09-to-vt-to-nh-to-me.md
  adventures/_posts/2016-09-20-bow-2016.md
  code/_posts/2018-08-31-mood-ring.md
  code/_posts/2019-12-01-codevember.md
  notes/_posts/2015-03-18-the-bird-feeder.md
Due: prettier --write

rotate
  img/staging/2014-08-24-five-rivers-0.jpg
  img/staging/2014-08-24-five-rivers-10.jpg
  img/staging/2014-08-24-five-rivers-3.jpg
  img/staging/2014-08-24-five-rivers-4.jpg
  img/staging/2014-08-24-five-rivers-8.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-0.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-2.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-4.jpg
  img/staging/2014-10-03-rhode-island-0.jpg
  img/staging/2014-10-03-rhode-island-1.jpg
  img/staging/2014-10-03-rhode-island-3.jpg
  img/staging/2014-10-03-rhode-island-5.jpg
  img/staging/2014-10-03-rhode-island-6.jpg
  img/staging/2014-10-03-rhode-island-7.jpg
  img/staging/2014-10-19-elizabethtown-II-1.jpg
  img/staging/2014-10-25-vromans-nose-0.jpg
  img/staging/2014-10-25-vromans-nose-1.jpg
  img/staging/2014-10-25-vromans-nose-2.jpg
  img/staging/2014-10-26-great-dune-1.jpg
Due: none

Delete uploaded images
  img/staging/2014-08-24-five-rivers-0.jpg
  img/staging/2014-08-24-five-rivers-10.jpg
  img/staging/2014-08-24-five-rivers-3.jpg
  img/staging/2014-08-24-five-rivers-4.jpg
  img/staging/2014-08-24-five-rivers-8.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-0.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-2.jpg
  img/staging/2014-09-20-adirondack-balloon-festival-II-4.jpg
  img/staging/2014-10-03-rhode-island-0.jpg
  img/staging/2014-10-03-rhode-island-1.jpg
  img/staging/2014-10-03-rhode-island-3.jpg
  img/staging/2014-10-03-rhode-island-5.jpg
  img/staging/2014-10-03-rhode-island-6.jpg
  img/staging/2014-10-03-rhode-island-7.jpg
  img/staging/2014-10-19-elizabethtown-II-1.jpg
  img/staging/2014-10-25-vromans-nose-0.jpg
  img/staging/2014-10-25-vromans-nose-1.jpg
  img/staging/2014-10-25-vromans-nose-2.jpg
  img/staging/2014-10-26-great-dune-1.jpg
Due: none

rotate
  img/staging/2008-05-20-roman-britain-45.jpg
  img/staging/2008-05-20-roman-britain-46.jpg
  img/staging/2009-02-20-italy-14.jpg
  img/staging/2009-02-20-italy-15.jpg
  img/staging/2009-05-20-turkey-greece-19.jpg
  img/staging/2009-05-20-turkey-greece-20.jpg
  img/staging/2009-05-20-turkey-greece-21.jpg
  img/staging/2009-05-20-turkey-greece-24.jpg
  img/staging/2009-05-20-turkey-greece-27.jpg
  img/staging/2009-05-20-turkey-greece-47.jpg
  img/staging/2009-05-20-turkey-greece-9.jpg
  img/staging/2010-06-03-ireland-and-spain-1.jpg
  img/staging/2010-06-03-ireland-and-spain-9.jpg
Due: none

Delete uploaded images
  img/staging/2008-05-20-roman-britain-45.jpg
  img/staging/2008-05-20-roman-britain-46.jpg
  img/staging/2009-02-20-italy-14.jpg
  img/staging/2009-02-20-italy-15.jpg
  img/staging/2009-05-20-turkey-greece-19.jpg
  img/staging/2009-05-20-turkey-greece-20.jpg
  img/staging/2009-05-20-turkey-greece-21.jpg
  img/staging/2009-05-20-turkey-greece-24.jpg
  img/staging/2009-05-20-turkey-greece-27.jpg
  img/staging/2009-05-20-turkey-greece-47.jpg
  img/staging/2009-05-20-turkey-greece-9.jpg
  img/staging/2010-06-03-ireland-and-spain-1.jpg
  img/staging/2010-06-03-ireland-and-spain-9.jpg
Due: none

rotate and fix
  adventures/_posts/2013-08-24-palmertown-mountain-range.md
  adventures/_posts/2014-08-10-cascade-falls.md
  img/staging/2014-02-24-washington-dc-2.jpg
  img/staging/2014-10-03-rhode-island-8.jpg
Due: prettier --write

Delete uploaded images
  img/staging/2014-02-24-washington-dc-2.jpg
  img/staging/2014-10-03-rhode-island-8.jpg
Due: none

rotate and fix
  epicurean/_posts/2014-03-04-ice-cream.md
  img/staging/2014-01-01-baking-in-the-new-year-1.jpg
  img/staging/2014-01-01-baking-in-the-new-year-2.jpg
Due: prettier --write

Delete uploaded images
  img/staging/2014-01-01-baking-in-the-new-year-1.jpg
  img/staging/2014-01-01-baking-in-the-new-year-2.jpg
Due: none
