Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Updated _data/read.yml
  _data/read.yml
Due: prettier --write

:wrench: Update dependencies`
  .github/workflows/read.yml
Due: prettier --write

Draft
  _config.yml
  epicurean/_posts/2020-12-01-bake-along.md
  img/staging/2020-12-01-gbbo-biscuits.jpg
  img/staging/2020-12-01-gbbo-bread.jpg
  img/staging/2020-12-01-gbbo-cake.jpg
  img/staging/2020-12-01-gbbo-chocolate.jpg
  img/staging/2020-12-01-gbbo-desserts.jpg
  img/staging/2020-12-01-gbbo-japanese.jpg
  img/staging/2020-12-01-gbbo-pastry.jpg
  img/staging/2020-12-01-gbbo-patisserie.jpg
  img/staging/2020-12-01-gbbo-trifle.jpg
Due: prettier --write

Draft
  epicurean/_posts/2020-12-01-bake-along.md
  img/staging/2020-11-28-gbbo-biscuits.jpg
  img/staging/2020-11-28-gbbo-bread.jpg
  img/staging/2020-11-28-gbbo-cake.jpg
  img/staging/2020-11-28-gbbo-chocolate.jpg
  img/staging/2020-11-28-gbbo-desserts.jpg
  img/staging/2020-11-28-gbbo-japanese.jpg
  img/staging/2020-11-28-gbbo-pastry.jpg
  img/staging/2020-11-28-gbbo-patisserie.jpg
  img/staging/2020-11-28-gbbo-trifle.jpg
Due: prettier --write

Draft
  epicurean/_posts/2020-12-01-bake-along.md
Due: prettier --write

Draft
  epicurean/_posts/2020-11-28-bake-along.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

Draft
  epicurean/_posts/2020-11-28-bake-along.md
Due: prettier --write

Update _config.yml
  _config.yml
Due: prettier --write

Bake along (#136)
  epicurean/_posts/2020-11-28-bake-along.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

:wrench: Fix static maps
  Gemfile.lock
  _config.yml
  adventure-guide/index.html
  adventures/_posts/2015-06-02-iceland.md
  code/_posts/2014-07-26-static-mapbox-for-jekyll.md
  code/_posts/2015-01-29-seasonal-posts.md
Due: prettier --write

:wrench: Update workflow versions
  .github/workflows/images-to-s3.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

:wrench: update workflow version
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Update spotify-to-jekyll.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

🎵 2020 Fall
  _data/playlists.yml
  img/staging/2020-fall.png
  playlists/_posts/2020-12-21-2020-fall.md
Due: prettier --write

Update 2020-fall.png
  img/staging/2020-fall.png
Due: none

Add names
  .github/workflows/images-to-s3.yml
  .github/workflows/read.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Fix release number
  .github/workflows/images-to-s3.yml
  img/staging/2020-fall.png
Due: prettier --write

Delete uploaded images
  img/staging/2020-fall.png
Due: none

Fixes #141
  _data/read.yml
Due: prettier --write

Remove email
  _config.yml
Due: prettier --write

:wrench: update dependencies
  Gemfile.lock
Due: none

Haiku 2018-2019
  .remarkrc.js
  img/staging/2021-02-09-haiku.png
  notes/_posts/2021-02-09-haiku-a-day.md
  package-lock.json
  package.json
Due: eslint, prettier --write

Delete uploaded images
  img/staging/2021-02-09-haiku.png
Due: none

Update 2021-02-09-haiku-a-day.md
  notes/_posts/2021-02-09-haiku-a-day.md
Due: prettier --write

Haiku 2018-2019 (#148)
  .remarkrc.js
  notes/_posts/2021-02-09-haiku-a-day.md
  package-lock.json
  package.json
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
