Repository katydecorah/katydecorah.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, ./scripts/alpha

Barberville Falls (#168)
  adventures/_posts/2021-06-13-barberville-falls.md
  katydecorah.dic
Due: prettier --write, ./scripts/alpha

🎵 2021 Spring
  _data/playlists.yml
  img/staging/2021-spring.png
  playlists/_posts/2021-06-21-2021-spring.md
Due: prettier --write

:wrench: katydecorah/spotify-to-jekyll-action@v4.2.1
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Fix image
  img/staging/2021-spring.png
Due: none

Delete uploaded images
  img/staging/2021-spring.png
Due: none

A shared ESLint configuration
  code/_posts/2021-07-05-eslint-config.md
  img/staging/2021-07-05-eslint-config.png
Due: prettier --write

Delete uploaded images
  img/staging/2021-07-05-eslint-config.png
Due: none

Rename
  code/_posts/2021-07-04-eslint-config.md
Due: prettier --write

A shared ESLint configuration (#169)
  code/_posts/2021-07-04-eslint-config.md
Due: prettier --write

:wrench: Update dependencies
  Gemfile.lock
  package-lock.json
Due: prettier --write

:wrench: Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Add more posts
  notes/_posts/2020-03-20-2020-winter.md
  notes/_posts/2020-06-20-2020-spring.md
  notes/_posts/2020-09-20-2020-summer.md
  notes/_posts/2020-12-20-2020-fall.md
  notes/_posts/2021-03-20-2021-winter.md
  notes/_posts/2021-06-20-2021-spring.md
Due: prettier --write

Update posts.test.js
  test/posts.test.js
Due: eslint, prettier --write

Update _config.yml
  _config.yml
Due: prettier --write

Update .remarkrc.js
  .remarkrc.js
Due: eslint, prettier --write

Fix tests
  package-lock.json
  package.json
Due: prettier --write

Clean up tests
  .eslintrc
  .remarkrc.js
  package-lock.json
  package.json
  test/orgs.test.js
  test/posts.test.js
  test/utils.js
Due: eslint, prettier --write

Update dependencies
  .husky/.gitignore
  .husky/pre-commit
  .remarkrc.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Clean up tests (#172)
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .remarkrc.js
  package-lock.json
  package.json
  test/orgs.test.js
  test/posts.test.js
  test/utils.js
Due: eslint, prettier --write

Add ISBN to seasonal posts
  notes/_posts/2020-03-20-2020-winter.md
  notes/_posts/2020-06-20-2020-spring.md
  notes/_posts/2020-09-20-2020-summer.md
  notes/_posts/2020-12-20-2020-fall.md
  notes/_posts/2021-03-20-2021-winter.md
  notes/_posts/2021-06-20-2021-spring.md
Due: prettier --write

Build seasonal posts from data files
  bin/season.js
Due: eslint, prettier --write

:wrench: update dependencies
  Gemfile.lock
  package-lock.json
Due: prettier --write

Create 2021-summer.png
  img/staging/2021-summer.png
Due: none

Delete uploaded images
  img/staging/2021-summer.png
Due: none

Create 2021-09-20-2021-summer.md
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

2021 summer (#173)
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

Delete spotify-to-jekyll.yml
  .github/workflows/spotify-to-jekyll.yml
Due: prettier --write

Create season.yml
  .github/workflows/season.yml
  .gitignore
  bin/season.js
Due: eslint, prettier --write

Create action.yml
  action.yml
Due: prettier --write

Move file
  bin/action.yml
Due: prettier --write

Update season.yml
  .github/workflows/season.yml
Due: prettier --write

Clean up
  bin/action.yml
  bin/season.js
  package-lock.json
  package.json
Due: eslint, prettier --write

2021 Summer
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

Update 2021-09-20-2021-summer.md
  notes/_posts/2021-09-20-2021-summer.md
Due: prettier --write

Create season.yml (#174)
  .github/workflows/season.yml
  .gitignore
  bin/season.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((((any of: *.js) or (any of: *.scss)) or (any of: *.css)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.md)
  ./scripts/alpha: any of: katydecorah.dic
